          </ul>

          <!--<form class="pull-right clear" style="color:white;">
            {% if user.is_authenticated %}
              Logged in as {{ user.username }} &nbsp;&nbsp;
              <a class="btn primary small" href="{% url auth_logout %}">Sign out</a>
            {% else %}
              <a class="btn primary small" href="{% url auth_login %}">Sign in</a>
              <a class="btn primary small" href="{% url registration_register %}">Register</a>
            {% endif %}
          </form>-->
        </div>
      </div>
  </div>

